.mb-profile {
	height: 100vh;
	display: flex;
	align-items: center;

	.profile-wrapper {
		width: 100%;
        background: var(--color);
	}

	.pro-left,
	.pro-right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.pro-right {
		justify-content: flex-start;
	}

	.left-wrapper {
		text-align: center;

		.profile-name {
			display: inline-block;
			margin: O auto;
			padding: 2px 1rem;
			color: var(--dark);
			background: var(--lcolor);
			font-size: 1.5rem;
			border-radius: 5px;
			margin-top: 10px;
		}
	}

	.img-wrapper {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		border: 1px solid var(--c);
		background: var(--lc);
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.pro-file,
	.pro-pwd {
		display: inline-block;
		width: 70%;
		margin-right: 10px;
	}

    .icon-wrapper {
        margin: 0;
    }
}

@media (min-width: 992px) {
	.mb-profile {
		.row {
			justify-content: center;
			.pro-left {
				width: 200px;
			}

			.pro-right {
				width: auto;
				flex-basis: auto;
				margin-left: 2rem;
			}
		}
	}
}
