.mb-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-wrapper {
        padding: 5rem 2rem;
        border-radius: 5px;
        background: var(--ddark);
        width: 450px;

        h2 {
            margin-bottom: 2rem;
            color: var(--spe);
        }

        .log-email {
            margin-bottom: 5px;

            input {
                border-radius: 5px 5px 0 0 ;
                background: var(--dcolor);
                border-color: var(--dgray);
            }
        }

        .log-pwd {

            input {
                border-radius: 0 0 5px 5px;
                background: var(--lcolor);
                border-color: var(--color);
            }
        }
    }
}