@font-face {
	font-family: "rb";
	src: local("rb"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "rw";
	src: local("rw"), url("./fonts/Raleway-Regular.ttf") format("truetype");
}

:root {
	--pf: "rb";
	--rw: "rw";

	//--ddark: #495464;

	--dgray: #bbbfca;
	--gray: #e8e8e8;
	--lgray: #f4f4f2;

	//--ddark: #393E46;
	// --dcolor: #ECE8D9;
	// --color: #FAF6E9;
	// --lcolor: #FFFDF6;

	--ddark: #1E2022;
	--dcolor: #52616B;
	--color: #C9D6DF;
	--lcolor: #F0F5F9;

	--spe: #79b4b7;

	font-size: 14px;
	color: white;
}

body {
	font-family: "rw";
	background: var(--lcolor) !important;
	color: var(--ddark);
}

#app {
	padding: 43px 0;
}

h1,
h2,
h3,
h4 {
	font-family: "rb";
	color: white;
}

h5 {
	font-family: "rw";
}

.bg-d {
	background: var(--d-bg);
}

.bg-n {
	background: var(--n-bg);
}

.bg-dc {
	background: var(--dc);
}

.bg-c {
	background: var(--c);
}

.bg-lc {
	background: var(--lc);
}

.bg-spe {
	background: var(--spe);
}

.mb-container {
	padding: 5rem 0;
}

.mb-btn {
	background-color: var(--ddark);
	color: white;
	transition: 0.3s ease;

	&:hover {
		background: var(--spe);
		transition: 0.3s ease;
	}

	.icon-wrapper {
		margin: 0 10px;
	}

	&:focus {
		box-shadow: none;
	}
}

.mb-btn-full {
	width: 100%;
}

.btn-disabled {
	position: relative;
	background: var(--gray);
	color: white;

	.icon-wrapper {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
	}
}

.icon-wrapper {
	width: 1.5rem;
	margin-right: 1rem;
}

.img-wrapper {
	position: relative;

	img {
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.nav-link {
	color: white;

	&:hover {
		color: var(--spe);
	}
}

.animation {
	animation: fade-in 0.3s ease-in both;
	opacity: 0;
}

@keyframes fade-in {
	from {
		opactiy: 0;
	}
	to {
		opacity: 1;
	}
}

// RESET BOOTSTRAP ///////////
.form-control {
	background: var(--lgray);
	border: none; //border: 1px solid var(--dcolor);
	color: var(--ddark);

	&:focus {
		box-shadow: none;
		color: var(--ddark);
		//border-color: var(--lcolor);
        border: none;;
	}

	&::placeholder {
		color: var(--ddark);
	}
}
