@font-face {
	font-family: "rb";
	src: local("rb"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "rw";
	src: local("rw"), url("./fonts/Raleway-Regular.ttf") format("truetype");
}

:root {
	--pf: "rb";
	--rw: "rw";

	//rgb(31,41,55);
	--d-bg: #222831;
	--n-bg: #393e46;

	--dc: #35477d;
	--c: #6c5b7b;
	--lc: #c06c84;
	//--spe: #f67280;

	//--dark: #495464;
	--dgray: #bbbfca;
	--gray: #e8e8e8;
	--lgray: #f4f4f2;

	--dgreen: #99a799;
	--green: #adc2a9;
	--lgreen: #d3e4cd;

	--skin: #fef5ed;

	--ddark: #8e806a;
	--dark: #c3b091;

	--dcolor: #e9dac1;
	--color: #f7ecde;
	--lcolor: #fbf8f1;

	//--spe: #54bab9;
    --spe: #79B4B7;

	font-size: 14px;
	color: white;
}

body {
	font-family: "rw";
	background: var(--lcolor) !important;
	color: var(--ddark);
}

#app {
	padding: 43px 0;
}

h1,
h2,
h3,
h4 {
	font-family: "rb";
	color: white;
}

h5 {
	font-family: "rw";
}

.bg-d {
	background: var(--d-bg);
}

.bg-n {
	background: var(--n-bg);
}

.bg-dc {
	background: var(--dc);
}

.bg-c {
	background: var(--c);
}

.bg-lc {
	background: var(--lc);
}

.bg-spe {
	background: var(--spe);
}

.mb-container {
	padding: 5rem 0;
}

.mb-btn {
	background-color: var(--spe);
	color: white;
	transition: 0.3s ease;

	&:hover {
		background: var(--dcolor);
		transition: 0.3s ease;
		color: var(--ddark);
	}

	&:focus {
		box-shadow: none;
	}
}

.mb-btn-full {
	width: 100%;
}

.btn-disabled {
	position: relative;
    background: var(--gray);
    color: white;

	.icon-wrapper {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);
	}
}

.icon-wrapper {
	width: 1.5rem;
	margin-right: 1rem;
}

.img-wrapper {
	position: relative;

	img {
		height: 100%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.nav-link {
	color: white;

	&:hover {
		color: var(--ddark);
	}
}

.animation {
  animation: fade-in 0.3s ease-in both;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opactiy: 0;
  } to {
    opacity: 1;
  }
}

// RESET BOOTSTRAP ///////////
.form-control {
	background: var(--skin);
	border: 1px solid var(--color);
	color: var(--ddark);

	&:focus {
		box-shadow: none;
        color: var(--ddark);
		border-color: var(--lcolor);
	}

    &::placeholder {
        color: var(--ddark);
    }
}
