@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/utilities";

nav {
    background: rgb(240, 245, 249, .75); //var(--ddark);
    backdrop-filter: blur(4px);

	.nav-right {
		position: relative;
		display: flex;
		align-items: center;

        .user-info {
            color: var(--dcolor);
        }

		.nav-user-wrapper {
			box-shadow: $box-shadow-lg;
			width: 30px;
			height: 30px;
			overflow: hidden;
			border-radius: 50%;
			border: 1px solid var(--dcolor);
			margin-left: 1rem;
            cursor: pointer;

			img {
				width: 100%;
			}

			&.active {
				border-color: var(--spe);
			}
		}
		.nav-user-content {
			position: absolute;
			top: 50px;
			right: 0;
			background: rgba(240, 245, 249, .75);
			// border-radius: 5px;
			overflow: hidden;
            backdrop-filter: blur(5px);

			ul {
				margin: 0;
				padding: 0;

				li {
					color: white;
					list-style: none;

					.nav-link {
						display: flex;
						align-items: center;
						width: 200px;
						color: var(--dcolor);
						transition: 0.3s ease;
						overflow: hidden;

						.icon-wrapper {
							width: 1.5rem;
							margin-right: 1rem;
						}



						&:hover {
							background: var(--spe);
							transition: 0.3s ease;
                            color: white;
						}
					}

					&:not(:last-child) .nav-link {
						border-bottom: 1px solid var(--lcolor);
					}
				}
			}
		}
	}

    .user-crown {
        display: inline-block;
        margin-right: 5px;
    }
}
